<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Formulario Empleados</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000">Inicio</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/formulariope">Formulario 1 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/datos2">Datos Almacenados EP</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/formulariopt">Formulario 2 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/datos">Datos Almacenados ET</a>
        </li>

      </ul>
    </div>
  </nav>

  <nav class="navbar p-3 mb-10 bg-danger text-white">

    <h2>Formulario 1 Personal Permanente</h2>
  </nav>

  <form action="/enviadoBDII" method="POST">

    <div class="form-row">
      <div class="p-3 col-md-3">
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre">
      </div>
      <div class="p-3 col-md-3">
        <label>Segundo Nombre</label>
        <input type="text" class="form-control" name="snombre">
      </div>
    </div>

    <div class="form-row">
      <div class="p-3 col-md-3">
        <label>Apellido</label>
        <input type="text" class="form-control" name="apellido">
      </div>

      <div class="p-3 col-md-3">
        <label>Segundo Apellido</label>
        <input type="text" class="form-control" name="sapellido">
      </div>
    </div>


    <div class="form-row">

      <div class="p-3 col-md-3">
        <label>Apellido de Casado</label>
        <input type="text" class="form-control" name="apellidoc">
      </div>

      <div class="p-3 col-md-2">
        <label>DPI</label>
        <input type="text" class="form-control" name="DPI">
      </div>

      <div class="p-3 col-md-2">
        <label>NIP</label>
        <input type="text" class="form-control" name="NIP">
      </div>

    </div>

    <div class="form-row">
      <div class="p-3 col-md-3">
        <label>Fecha de Nacimiento</label>
        <input type="date" class="form-control" name="nacimiento">
      </div>


      <div class="p-3 col-md-3">
        <label>Puesto nominal</label>
        <input type="text" class="form-control" name="pueston">
      </div>

      <div class="p-3 col-md-3">
        <label>Puesto funcional</label>
        <input type="text" class="form-control" name="puestof">
      </div>
    </div>

    <div class="p-3 col-md-3">
      <label>Departamento</label>
      <input type="text" class="form-control" name="depart">
    </div>

    <div class="form-row">

      <div class="p-3 col-md-3">
        <label>Email Institucional</label>
        <input type="text" class="form-control" name="emailinst">
      </div>

      <div class="p-3 col-md-3">
        <label>Email Personal</label>
        <input type="text" class="form-control" name="emailper">
      </div>

    </div>


    <div class="form-row">

      <div class="p-3 col-md-3">
        <label>Telefono Celular</label>
        <input type="text" class="form-control" name="telCelu">
      </div>

      <div class="p-3 col-md-3">
        <label>Telefono de Casa </label>
        <input type="text" class="form-control" name="telCasa">
      </div>

    </div>


    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-primary col-md-4">Enviar informacion</button>
    </div>

  </form>


</body>

</html>